/* ------------------------------ */
/* Paleta de Cores:
   Fundo: #1E1E2F
   Títulos: #E1B382
   Bordas/Detalhes: #2D545E
   Botões: #4A90E2
   Entrada: #4CAF50
   Saída: #F44336
/* ------------------------------ */

/* container */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #1e1e2f; /* fundo escuro */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #e1b382; /* texto padrão */
}
a .container {
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* titulos */
h1,
h2 {
  text-align: center;
  margin-bottom: 25px;
}

h1 {
  color: #e1b382;
}
h2 {
  color: #f4f4f4;
}

/* forms */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #e1b382;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #2d545e;
  text-align: center;
  text-align-last: center;
  background-color: #2d545e;
  color: #f4f4f4;
}

/* Tipo container */
.tipo-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.tipo-container label {
  margin-bottom: 5px;
}
.tipo-container select {
  width: 180px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #2d545e;
  background: #2d545e;
  font-size: 14px;
  color: #f4f4f4;
}

/* btns */
.btn {
  grid-column: span 2;
  padding: 10px;
  background: #4a90e2;
  color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #0056b3;
}

.btn-danger {
  padding: 6px 10px;
  background: #ff0901;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-danger:hover {
  background: #e90d05;
}

.status {
  font-size: 14px;
  margin-left: 10px;
  color: #f4f4f4;
}

/* erros e avisos */
.erro {
  color: #f44336;
  margin-bottom: 10px;
}
.nenhuma {
  text-align: center;
  color: #e1b382;
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}

/* tabela */
.tabela {
  width: 100%;
  border: 3px solid #2d545e;
  border-radius: 25px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin-top: 20px;
  background: #2d545e;
}

.tabela th {
  background-color: #12343b;
  color: #e1b382;
  font-weight: bold;
  padding: 10px;
}

.tabela td {
  padding: 10px;
  text-align: left;
  border: none;
  color: #000000;
}

.tabela th,
.tabela td {
  text-align: center; /* centraliza todos os textos da tabela */
  padding: 10px;
}

.tabela tbody tr + tr td {
  border-top: 1px solid #4a90e2;
}

/* entrada ou saida */
.indicador {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.indicador.entrada {
  background-color: #4caf50;
} /* verde */
.indicador.saida {
  background-color: #f44336;
} /* vermelho */

/* saldo total */
.saldo-box-total {
  background-color: #12343b;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 20px auto;
  border: 2px solid #4a90e2;
  text-align: center;
  width: max-content;
  display: block;
}

.saldo-positivo {
  color: #4caf50;
  font-weight: bold;
}
.saldo-negativo {
  color: #f44336;
  font-weight: bold;
}

/* cor de cada categoria */
.categoria-salário {
  background-color: #2e8b57;
  color: #f4f4f4;
}
.categoria-cartão {
  background-color: #bd573d;
  color: #f4f4f4;
}
.categoria-refeição {
  background-color: #ff8c42;
  color: #1e1e2f;
}
.categoria-transporte {
  background-color: #4682b4;
  color: #f4f4f4;
}
.categoria-jogos {
  background-color: #9370db;
  color: #f4f4f4;
}
.categoria-assinatura {
  background-color: #ff7f50;
  color: #1e1e2f;
}
.categoria-roupa {
  background-color: #3cb371;
  color: #f4f4f4;
}
.categoria-investimento {
  background-color: #20b2aa;
  color: #f4f4f4;
}
.categoria-diverso {
  background-color: #708090;
  color: #f4f4f4;
}

/* filtros */
.filtros-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 15px 0;
}

.filtros-container .filtro-centro,
.filtros-container .filtro-mes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtros-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #e1b382;
}

.filtros-container select {
  width: 120px;
  text-align: center;
  text-align-last: center;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #e1b382;
  background: #2d545e;
  color: #f4f4f4;
}

.form {
  max-width: 1250px;
  margin: 0 auto 20px auto;
}

.tabela {
  max-width: 1250px;
  margin: 20px auto 0 auto;
}

hr {
  border: 0;
  height: 1px;
  background-color: #c89666;
  max-width: 600px;
  margin: 20px auto;
}
